doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Radio • Vila
    link(rel='stylesheet', href='/css/bootstrap/dist/css/bootstrap.css', type='text/css')
  body
    section#react
    script(src='/js/bundle.js')
